<!DOCTYPE html>
<html lang="en">
    <head>
        <title> BF Interpreter</title>
        <link rel="stylesheet" href="static/styles.css">
    </head>

    <body>
      <h1 style="text-align:center;">Custom Programming Language</h1>
        <div class="container">        
            <label for="code"></label>
            <textarea autofocus class="box" id="code" placeholder="Code"></textarea>            
            <div id="rightBox">
                <textarea style="width: 400px;" type="text" id="custom" class="box" placeholder="customize"></textarea>
                <div id="output" class="box"></div>
                <div id = "instructions">
                  Supercharge your productivity. Your language - the way you want!
                <br><br><br>
                  Use json to map keywords
                </div>
                <button id="run">Run</button>
            </div>            
        </div>
    
<script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
